<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_process" method="post">
        <input name="receiver_name" type="text"  required placeholder="Receiver Name">
        <input name="email" type="email" required>
        <input name="date" type="number" required placeholder="date" min="01" max="31">
        <input name="month" type="number" required placeholder="month" min="01" max="12">
        <input type="submit">
    </form>
</body>
</html>